# https://github.com/vlucas/phpdotenv

DB_PORT="3306"
DB_NAME_MAIN="marketplace"

DB_HOST_LOC="142.93.184.183"
DB_USER_LOC="root"
DB_PASS_LOC="*cJVDgc>>!XExLE,'2_hfY23(fP>Zw-b"

DB_HOST_PROD="127.0.0.1"
DB_USER_PROD="umarketplace"
DB_PASS_PROD="23_J=9,!6wXkd,$q9-&H8nBxz55Tr6&/"


SENDGRID_API_KEY = "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"

VAT= "0"

ENV="prod"
LOCAL_IP="91.73.173.130"