# https://github.com/vlucas/phpdotenv

DB_PORT="3306"
DB_NAME_MAIN="marketplace"

DB_HOST_LOC="142.93.184.183"
DB_USER_LOC="root"
DB_PASS_LOC="*cJVDgc>>!XExLE,'2_hfY23(fP>Zw-b"

DB_HOST_PROD="127.0.0.1"
DB_USER_PROD="umarketplace"
DB_PASS_PROD="23_J=9,!6wXkd,$q9-&H8nBxz55Tr6&/"

MAIN_EMAIL_FROM = "info@aumet.com"
MAIN_EMAIL_FROM_NAME = "Aumet"
SENDGRID_API_KEY = "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"

## EDITABLE INFO
ENV="prod"
DOMAIN_URL="https://marketplace.aumet.tech/"
JWT_SECRET_KEY="mxczKngV84P/26qs+}nrj!T>RD^5^3F="

SUPPORT_EMAIL="m.abuzaghleh@aumet.com,Muna Abu Zaghleh;patrick.younes.1.py@gmail.com,Patrick Younes"
ADMIN_SUPPORT_EMAIL="m.abuzaghleh@aumet.com,Muna Abu Zaghleh;patrick.younes.1.py@gmail.com,Patrick Younes"

LOCAL_IP="91.73.173.130"

# Place emails as comma separated, ex: abed@example.com,ahmad@example.com
CRON_EXPORT_PHARMACIES_ACTIVATION_REPORT_EMAILS=

# FCM credentials
FCM_API_KEY=
FCM_AUTH_DOMAIN=
FCM_PROJECT_ID=
FCM_STORAGE_BUCKET=
FCM_MESSAGING_SENDER_ID=
FCM_APP_ID=
