.datatable.datatable-default.datatable-head-custom > .datatable-table > .datatable-head .datatable-row > .datatable-cell > span,
.datatable.datatable-default.datatable-head-custom > .datatable-table > .datatable-foot .datatable-row > .datatable-cell > span,
table.datatable.datatable-head-custom thead th,
table.datatable.datatable-head-custom > tfoot > th {
	color: #13b9a9 !important;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: normal;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
	background: #13b9a914 !important;
}

.p-0 {
	padding: 0 !important;
}

.form-label {
	text-align: left;
	font-weight: bold;
}

.slick-hero-title {
	color: #fff !important;
	font-size: 30px;
	font-weight: 700;
	top: 70px;
}

.slick-hero-subtitle {
	position: absolute;
	color: #fff !important;
	font-size: 30px;
	font-weight: 700;
	top: 130px;
}

.slick-hero-button {
	position: absolute;
	width: 140px;
	background-color: #1378be !important;
	border-color: #1378be !important;
	bottom: 100px;
}

.sub-header {
	color: #13b9a9 !important;
	font-weight: 700;
	padding-bottom: 1rem;
}

.float-left {
	float: left;
}

.position-absolute {
	position: absolute;
}

.btn-lg-radius {
	border-radius: 0.5em;
}

label.myLabel input[type='file'] {
	position: absolute;
	top: -1000px;
}

.navi .navi-link {
	color: #fff !important;
	margin: 0.5rem 0 !important;
}

.modal .select2-container {
	width: 100% !important;
}

.la-icon i {
	font-size: 2.3rem !important;
	vertical-align: bottom;
}

.standard-radius {
	border-radius: 0.42rem !important;
}

.fit-width {
	width: auto;
	display: inline-flex;
}

.dataTables_length {
	float: left;
	margin-right: 20px;
}

.dataTables_filter {
	float: right;
}

.btn-add-datatables {
	float: right;
	margin-left: 1rem;
}

#feedbackModalRating > i {
	font-size: 30px;
}

#feedbackModalRatingLabel,
#feedbackModalCommentLabel {
	margin-bottom: 10px;
}

.text-primary {
	color: #13b9a9;
}

.text-danger {
	color: #f64e60;
}

.text-warning {
	color: #ffa800;
}

.label-primary2 {
	color: #ffffff;
	background-color: #219186;
}

.chat-modal-class-document {
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 0 20px 20px 0;
}

.thankyou-page-button {
	display: flex;
	justify-content: center;
}

.select2-selection {
	height: 100% !important;
}

.search-wrapper {
	width: 100%;
	align-self: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 1;
	z-index: 10;
}

.search-icon {
	float: left;
	margin: 0 -30px 0 20px;
	z-index: 1;
	color: #13b9a9;
	cursor: pointer;
}

@media (max-width: 992px) {
	.search-wrapper-desktop {
		visibility: hidden;
		display: none;
	}
}

@media (min-width: 992px) {
	.search-wrapper {
		max-width: 500px;
	}
}

#searchBarInputDesktop {
	padding-left: 35px;
}

#searchBarInputMobile {
	padding-left: 35px;
	margin-right: 30px;
}

.autocomplete-suggestions {
	border: 1px solid #999;
	background: #fff;
	overflow: auto;
	border-radius: 0.42rem;
	padding: 5px 0;
}

.autocomplete-suggestions-open {
	border-radius: 0 0 0.42rem 0.42rem;
}

.search-wrapper-open {
	border-radius: 0.42rem 0.42rem 0 0;
}

.autocomplete-suggestion {
	padding: 4px 12px;
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}

.autocomplete-selected {
	background: #f0f0f0;
}

.autocomplete-suggestions strong {
	font-weight: normal;
	color: #13b9a9;
}

.autocomplete-group {
	padding: 2px 5px;
}

.autocomplete-group strong {
	display: block;
	border-bottom: 1px solid #000;
}

.supportButton {
	background-color: #4ab8a8;
	border-radius: 5px;
	width: 40px;
	height: 40px;
	position: fixed;
	right: 30px;
	bottom: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#support_modal > div {
	min-width: 340px;
	margin: 0 30px 80px 0;
}

.support-modal-title {
	padding-left: 1.3rem;
	font-weight: bold;
}

.support-modal-text {
	font-size: 15px !important;
}

.support-modal-select {
	margin-bottom: 10px;
}

.support-modal-request-call-icon {
	margin-right: 7px;
}

/* product page */

.product-item {
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
	margin: 7px 0;
}

.image-wrapper {
	position: relative;
}

.product-item .image-wrapper {
	width: 100%;
	height: 195px;
}

.image-wrapper img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.image-wrapper .image {
	position: absolute;
	width: 100%;
	height: 100%;
}

.product-item-content {
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-around;
}

.product-item .title {
	color: #4d5259;
	font-size: 15px;
	display: block;
	font-weight: bold;
}

.product-item:hover .title {
	color: #39bea6;
}

.product-item .price {
	color: #4d5259;
	font-size: 13px;
	display: block;
}

.product-item:hover .price {
	color: #7d7f86;
}

.product-item .image-hover-wrapper {
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}

.product-item:hover .image-hover-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-item .view-button {
	background-color: #fff;
	color: #38bda5;
	font-size: 15px;
	width: 80px;
	height: 40px;
	border-radius: 5px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-price-wrapper {
	background-color: #f8fafd;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-top: 50px;
}

.product-price-wrapper .distributor-name {
	color: #787c82;
	font-size: 21px;
	font-weight: bold;
}

.product-price-wrapper hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid #eff1f3;
	margin: 1em 0;
	padding: 0;
}

.product-detail {
	margin-bottom: 60px;
}

.product-detail .productImage {
	object-fit: contain;
	width: 100%;
	margin-bottom: 15px;
	max-height: 370px;
	height: 100%;
}

.add-to-cart-wrapper {
	border: #c4c4c4 solid 1.5px;
	border-radius: 6px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	font-size: 18px;
}

.add-to-cart-wrapper > div {
	background: #d0f4f1;
	color: #54ab9f;
	font-size: 17px;
	width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: #c4c4c4 solid 1.5px;
	border-width: 0 0 0 1.5px;
}

.add-to-cart-wrapper > input {
	border: none;
	width: 100px;
	height: 45px;
	padding-left: 10px;
}

input[type='number'] {
	-moz-appearance: textfield; /* Firefox */
}

.cart-buttons-product-detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-buttons-product-detail .price {
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cart-buttons-product-detail .price .title {
	color: #7e89a0;
	font-size: 17px;
	margin: 0 0 5px 0;
}

.cart-buttons-product-detail .price .value {
	font-size: 20px;
	color: #7cbd4d;
}

.cart-buttons-product-detail .bonus {
	font-weight: bold;
}

.cart-buttons-product-detail .bonus .title {
	color: #7e89a0;
	font-size: 17px;
	margin: 0 0 5px 0;
}

.cart-buttons-product-detail .bonus .value {
	font-size: 20px;
	color: #828383;
}

.product-item-details h3 {
	color: #3b4249;
	font-weight: bold;
	font-size: 19px;
	margin: 40px 0 20px 0;
}

.product-item-details .title {
	color: #8c97ab;
	font-size: 17px;
	width: 170px;
}

.product-item-details .value {
	color: #5a6166;
	font-size: 17px;
}

.product-item-details .country {
	display: flex;
	align-items: center;
}

.product-item-details .country img {
	width: 34px;
	height: 18px;
	margin-right: 5px;
}

.product-item-similar-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 60px 0 20px 0;
}

.product-item-similar-header h3 {
	color: #3e434b;
	font-size: 21px;
	font-weight: bold;
}

.product-item-similar-header a {
	font-size: 14px;
}

.other-offers th {
	color: #a5a8ac !important;
	font-size: 17px !important;
	font-weight: bold !important;
}

.other-offers td {
	color: #4a4a4a !important;
	font-size: 16px !important;
	font-weight: normal !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.quantityFreeInput:invalid + .quantityFreeHolder {
	display: none;
}

.product-overview h3 {
	color: #3b4249;
	font-weight: bold;
	font-size: 19px;
}

.product-overview .product-description {
	direction: ltr;
	text-align: justify;
	text-justify: inter-word;
	white-space: pre-line;
	color: #8c97ab;
	font-size: 17px;
	padding: 0 2.25rem 2.25rem 2.25rem !important;
}

.product-overview-logo {
	width: 100%;
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

/* product page */

.never,
.display-none {
	display: none;
	visibility: hidden;
}

/* ==== Cart CSS === */
.cartRightWrapper {
	padding: 0 2rem 0 2rem;
}

.cartRightWrapper .item {
	color: #a9abaf;
	text-transform: uppercase;
}

.cartRightWrapper .total {
	color: #9fa2a6 !important;
	font-weight: bold;
	text-transform: uppercase;
}

.cartRightWrapper .price {
	color: #9fa2a6;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
}

.cartRightWrapper .title {
	color: #9fa2a6;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 30px;
}

.cartRightWrapper hr {
	background-color: #c2c2c2;
	height: 2px;
	border: 0;
}

.cartRightWrapper .itemWrapper {
	display: flex;
	justify-content: space-between;
}

.cartRightWrapper .btn-success {
	background: #00b09f;
	font-size: 18px;
	width: 100%;
}

.cart-table-header {
	color: #b9b9b9 !important;
	font-weight: bold !important;
	font-size: 15px !important;
	text-transform: uppercase;
}

.cart-table-header-body {
	font-weight: bold !important;
	font-size: 15px !important;
	text-transform: uppercase;
	height: 0px !important;
}

.cart-item-separator {
	border-bottom: 1px solid #e7e7e7;
	margin-top: 5px;
	padding-bottom: 5px;
}

/* fix bonus popup positioning */
.table-responsive{
	overflow: visible;
}
/* ==== Cart CSS === */

/* ==== Main CSS === */
.img-fill {
	width: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.img-fill img {
	min-height: 100%;
	min-width: 100%;
	position: relative;
	display: inline-block;
	max-width: none;
}

.slick-slide {
	float: left /* If RTL Make This Right */;
	padding: 0;
}

/* ==== Slider Style === */
.slick-carousel .item .img-fill {
	background: #000;
}

.slick-carousel .item .img-fill .info {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
}

/* ==== Slick Slider Css Ruls === */
.slick-slider {
	position: relative;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left /* If RTL Make This Right */;
	height: 100%;
	min-height: 1px;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.column-name-fixed {
	width: 300px;
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tab-content {
	height: auto !important;
}

#datatableProducts th {
	white-space: nowrap;
}

/* === expandable === */

.expandable {
	transition: all 250ms ease-in-out;
}

.expandable .expand-bar {
	position: absolute;
	display: block;
	left: 0px;
	bottom: 0px;
	background-color: white;
	width: 100%;
	cursor: pointer;
	text-decoration: none;
	font-weight: 500;
	box-sizing: border-box;
	padding: 10px 30px 10px 10px;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 20px;
}

.expandable .expand-bar::before {
	position: absolute;
	width: 100%;
	height: 20px;
	top: -20px;
	left: 0px;
	display: block;
	content: '';
	background: rgba(237, 237, 237, 0);
	background: -moz-linear-gradient(top, rgba(237, 237, 237, 0) 0%, rgba(255, 255, 255, 0.8) 41%, rgba(255, 255, 255, 1) 70%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237, 237, 237, 0)), color-stop(41%, rgba(255, 255, 255, 0.8)), color-stop(70%, rgba(255, 255, 255, 1)));
	background: -webkit-linear-gradient(top, rgba(237, 237, 237, 0) 0%, rgba(255, 255, 255, 0.8) 41%, rgba(255, 255, 255, 1) 70%);
	background: -o-linear-gradient(top, rgba(237, 237, 237, 0) 0%, rgba(255, 255, 255, 0.8) 41%, rgba(255, 255, 255, 1) 70%);
	background: -ms-linear-gradient(top, rgba(237, 237, 237, 0) 0%, rgba(255, 255, 255, 0.8) 41%, rgba(255, 255, 255, 1) 70%);
	background: linear-gradient(to bottom, rgba(237, 237, 237, 0) 0%, rgba(255, 255, 255, 0.8) 41%, rgba(255, 255, 255, 1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
}

.expandable .expand-bar i {
	transition: all 250ms ease-in-out;
	position: absolute;
	width: 20px;
	height: 20px;
	display: block;
	top: 50%;
	right: 10px;
	margin-top: -10px;
	transform: rotate(-90deg);
}

.expandable.expanded .expand-bar i {
	transform: rotate(90deg);
}

.expandable .expand-bar i::before,
.expandable .expand-bar i::after {
	position: absolute;
	width: 10px;
	height: 1px;
	background: #1d1d1d;
	content: '';
	left: 5px;
}

.expandable .expand-bar i::before {
	transform: rotate(45deg);
	top: 13px;
}

.expandable .expand-bar i::after {
	transform: rotate(-45deg);
	top: 6px;
}

/* === expandable === */

.cart-checkout-bonus-label {
    background-color: #F3F3F3;
    border-radius: 25px;
	font-size: 12px;
    white-space: nowrap;
	cursor: pointer;
}

.cart-checkout-bonus-label > .bonus {
	color: #0CA962;
}

.cart-checkout-bonus-th {
	font-size: 10px;
	color: #A9A9A9;
}

.cart-checkout-bonus-td {
	color: #7A7A7A;
	border-color: #F5F5F5;
}

.cart-checkout-bonus-td > .check {
	color: #0CA962;
}

.orderdetails-smarttab > .nav > li > a.nav-link.active {
	background: #FAFAFA;
}

.image-contain {
	background-size: contain !important;
	background-position: center center !important;
	object-fit: contain !important;
}

.customer-group-modal-bg {
	background-color: #F6F6F6;
}

.customer-group-modal-member-container {
	height: 300px;
	overflow: hidden auto;
}

#editCustomerGroupNewId + span > span > span.select2-selection.select2-selection--single {
    border-color: #C0C0C0 !important;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	background: #F1F5F8;
}

.customer-group-modal-search {
    border-right: 0px;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: unset;
}

.customer-group-modal-button,
.customer-group-modal-button > i,
#nonGroupMembersLabelContainer {
	color: #65687B !important;
}

.customer-group-details-control {
    background: url('/assets/img/details-open.png') no-repeat center center;
    cursor: pointer;
}

.customer-group-details-control.expanded {
    background: url('/assets/img/details-close.png') no-repeat center center;
    cursor: pointer;
}

.home-page-title {
	margin-left: 5px !important;
}
