.datatable.datatable-default.datatable-head-custom > .datatable-table > .datatable-head .datatable-row > .datatable-cell > span,
.datatable.datatable-default.datatable-head-custom > .datatable-table > .datatable-foot .datatable-row > .datatable-cell > span,
table.datatable.datatable-head-custom thead th,
table.datatable.datatable-head-custom > tfoot > th {
	color: #13b9a9 !important;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: normal;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
	background: #13b9a914 !important;
}

.p-0 {
	padding: 0 !important;
}

.form-label {
	text-align: left;
	font-weight: bold;
}

.sub-header {
	color: #13b9a9 !important;
	font-weight: 700;
	padding-bottom: 1rem;
}

.float-left {
	float: left;
}

.btn-lg-radius {
	border-radius: 0.5em;
}

label.myLabel input[type='file'] {
	position: absolute;
	top: -1000px;
}

.navi .navi-link {
	color: #fff !important;
	margin: 0.5rem 0 !important;
}

.modal .select2-container {
	width: 100% !important;
}

.la-icon i {
	font-size: 2.3rem !important;
	vertical-align: bottom;
}

.standard-radius {
	border-radius: 0.42rem !important;
}

.fit-width {
	width: auto;
	display: inline-flex;
}

.dataTables_length {
	float: left;
	margin-right: 20px;
}

.dataTables_filter {
	float: right;
}

.btn-add-datatables {
	float: right;
	margin-left: 1rem;
}

#feedbackModalRating > i {
	font-size: 30px;
}

#feedbackModalRatingLabel,
#feedbackModalCommentLabel {
	margin-bottom: 10px;
}

.cart-buttons-product-detail {
	margin-top: 20px;
	display: flex;
	justify-content: end;
}

.text-primary {
	color: #13b9a9;
}

.text-danger {
	color: #f64e60;
}

.text-warning {
	color: #ffa800;
}

.label-primary2 {
	color: #ffffff;
	background-color: #219186;
}

.chat-modal-class-document {
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 0 20px 20px 0;
}

.thankyou-page-button {
	display: flex;
	justify-content: center;
}

.select2-selection {
	height: 100% !important;
}

.add-to-cart-wrapper {
	border: #c4c4c4 solid 2px;
	border-radius: 6px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	font-size: 18px;
}

.add-to-cart-wrapper > div {
	background: #d0f4f1;
	color: #3f998a;
	width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.add-to-cart-wrapper > input {
	border: none;
	width: 100px;
	height: 50px;
	padding-left: 10px;
}


.search-wrapper {
	width: 100%;
	align-self: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 1;
	z-index: 10;
}

.search-icon {
	float: left;
	margin: 0 -30px 0 20px;
	z-index: 1;
	color: #13b9a9;
	cursor:pointer;
}


@media (max-width: 992px) {
	.search-wrapper-desktop {
		visibility: hidden;
		display: none;
	}
}

@media (min-width: 992px) {
	.search-wrapper {
		max-width: 500px;
	}
}

#searchBarInputDesktop {
	padding-left: 35px;
}

#searchBarInputMobile {
	padding-left: 35px;
	margin-right: 30px;
}

.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
	border-radius: 0.42rem;
	padding: 5px 0;
}

.autocomplete-suggestions-open {
	border-radius: 0 0 0.42rem 0.42rem;
}
.search-wrapper-open {
	border-radius: 0.42rem 0.42rem 0 0;
}

.autocomplete-suggestion {
	padding: 4px 12px;
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
	cursor:pointer;
}

.autocomplete-selected {
	background: #F0F0F0;
}

.autocomplete-suggestions strong {
	font-weight: normal;
	color: #13b9a9;
}

.autocomplete-group {
	padding: 2px 5px;
}

.autocomplete-group strong {
	display: block;
	border-bottom: 1px solid #000;
}